@font-face {
  font-family: "PixelEmu";
  src: url("./assets/fonts/PixelEmulator-xq08.ttf") format("truetype");
}

@font-face {
  font-family: "PixelTact";
  src: url("./assets/fonts/PixelTactical-AWOx.ttf") format("truetype");
}

.pixelFont {
  font-family: "PixelEmu";
}

.element::-webkit-scrollbar {
  width: 0;
}